.category {
    padding-bottom: 5px;
}

.home-owner {
    font-size: 12px;
}

.home-description {
    margin-top: 20px;
    height: 200px;
    overflow-y: auto;
    border: solid 1px #dfdfdf;
    background-color: #fafafa;
    border-radius: 4px;
    padding: 4px;
}