.footer {
    margin-top: 500px;
    padding: 10px 10px 0px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    bottom: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
}

.line {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 80%;
    background-color: black;
}